.LoginSignupContainer {
    @include view(flex, center, center);
    height: 100vh;
}

.LoginSignup {
    @include view(flex, center, center);
    height: 300px;
}

.signup,
.signin {
    @include view(flex, center, center);
    @include area(25rem, 100%);
    box-shadow: 10px 10px 14px 1px $box-shadow;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem 3rem;
    transition: all 0.5s ease;
}

.signin {
    background-image: url("../../../public/Login/signin.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    &.hidden {
        background-position-x: -500%;
    }
}

.signup {
    background-image: url("../../../public/Login/signup.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
    &.hidden {
        background-position-x: 500%;
    }
}
