.loginContainer {
    @include view(flex, center, center);
}

.singup,
.login {
    @include view(flex, center, center);
    flex-direction: column;
    height: 100vh;

    input,
    button {
        @include area(20rem, 2rem);
        border-radius: 10px;
    }
}
