.Home {
    text-align: center;
}

.Home-header {
    @include view(flex, center, center);
    background-color: var(--light-gray);
    flex-direction: column;
    min-height: 50vh;
    font-size: calc(10px + 2vmin);
    padding: 2rem 0;

    & > h1 {
        @include animation(fade_in_up_to_down 1s ease-in-out);
        text-transform: uppercase;
        font-size: 8rem;
        margin: 1rem 0;
    }

    & > i {
        @include animation(fade_in_left_to_right 2s ease-in-out);
    }
}

.Home-footer {
    @include area(100vw, 5rem);
    @include view(flex, center, center);
    padding: 2rem 0;

    & > a {
        margin: 0 0.5rem;
        text-decoration: none;
        font-weight: 700;
    }
}
