@mixin view($display, $align-items: normal, $justify-content: normal) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin area($width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin bcolor($background-color, $color) {
    background-color: $background-color;
    color: $color;
}

@mixin border-radius($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}

@mixin animation($str) {
    animation: #{$str};
}

@mixin keyframe($animation_name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@include keyframe(fade_in_up_to_down) {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@include keyframe(fade_in_left_to_right) {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    50% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@include keyframe(infinity_scroll) {
    0% {
        transform: translateX(0px);
    }
    15% {
        transform: translateX(0px);
    }
    85% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}
