$navy: #27005d;
$purple: #945aff;
$blue: #aed2ff;
$red: #ff3fa4;
$none: #e4f1ff;

@media (prefers-color-scheme: light) {
    * {
        --box-shadow: lightgray;
        --background-color: #e4f1ff;
        --convert-background-color: #161f27;
        --color: black;
        --convert-color: #945aff;
        --light-gray: #7091f5;
        --border: black;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --box-shadow: gray;
        --background-color: #161f27;
        --convert-background-color: #e4f1ff;
        --color: white;
        --convert-color: #945aff;
        --light-gray: #793fdf;
        --border: white;
    }
}
